page-search-pictogram {
  	ion-header{
  		ion-toolbar{
  			ion-segment{
  				ion-segment-button.segment-button{
  					font-size: 2rem !important;
  					border-bottom-width: 4px !important;
  					&.segment-activated{
  						background-color: #CDDC39;
  					}
  				}
  			}
  		}
  	}
  	ion-footer{
  		text-align: right;
  	}
  	ion-content{
  		.scroll-content{
  			overflow-y:scroll;
  			overflow-x:hidden;
  		}
  		button{
  			padding: 0px !important;
  		}
  		ion-img{
  			min-width: 200px;
  			min-height: 200px;
  		}
  	}
}
