page-presentation {

}

.presentationText{
  text-transform: uppercase;
  font-weight: 900 !important;
}


.coverflowCard{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    text-align: center;
}
