<!-- Generated template for the ColorPickerComponent component -->

<ion-header>
<ion-navbar color="primary"><ion-title>Elige un color</ion-title></ion-navbar>
</ion-header>

<ion-content class="wrapper">

<canvas #palette style="background:white;" class='center'></canvas>
<canvas #chooser style="background:white; margin-top: 20px; margin-bottom: 20px; " class='center'></canvas>

<ion-grid>
<ion-row>
<ion-col col-6>
  <button ion-button full>SELECCIONAR</button>
</ion-col>
<ion-col col-6>
  <button ion-button full>CANCELAR</button>
</ion-col>
</ion-row>
</ion-grid>

</ion-content>
