page-home {

}

.mensajeBienvenida{
  padding:30px;
  font-size: 2em !important;
  font-weight: lighter !important;
}

.cardButtons{
  text-align: center;
  font-size: 1em;
  color: map-get($colors, primary);
}

.schedulerTitle{
  font-size: 1.5em !important;
  padding-top: 10px;
  padding-left: 20px;
}
