<!-- Generated template for the SchedulerDetailComponent component -->
<form [formGroup]="schedulerForm">
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        <ion-list padding-left>
                            <ion-item>
                                <ion-input placeholder="Nombre" formControlName="name" type="text"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                    <ion-col col-4>
                        <div formControlName="type" radio-group>
                          <ion-row>
                            <ion-col col-6>
                              <ion-item>
                                <ion-label>Imagen y Texto</ion-label>
                                <ion-radio item-left value="isNormal" (click)="select(schedulerForm.get('type').value)" checked></ion-radio>
                              </ion-item>
                            </ion-col>
                            <ion-col col-6>
                              <ion-item>
                                <ion-label>Solo Texto</ion-label>
                                <ion-radio item-left value="isText" (click)="select(schedulerForm.get('type').value)"></ion-radio>
                              </ion-item>
                            </ion-col>
                          </ion-row>
                        </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row formArrayName="items">
            <ion-col col-sm-12 col-md-3 col-lg-2 *ngFor="let item of items.controls; let i=index" [formGroupName]="i">
                <ion-card>
                    <ion-card-content>
                        <img src="{{schedulerForm.get('items').value[i].image}}" class="picto_image" click="popUpSearch()" />
                        <ion-list no-lines>
                            <ion-item [hidden]=true>
                                <ion-label floating>Image</ion-label>
                                <ion-input formControlName="image" type="text"></ion-input>
                            </ion-item>
                            <ion-item style="text-align:center">
                                <ion-input placeholder="Texto" text-center formControlName="text" type="text"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <!--Add picto-->
            <ion-col col-sm-12 col-md-3 col-lg-2>
                <ion-card>
                    <ion-card-content text-center>
                        <button ion-button color="primary" (click)="addItem()" type="button"><ion-icon name="add"></ion-icon>AÑADIR PICTO</button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>
<p>Valor Nombre: {{schedulerForm.value | json}}</p>
<p>Estado Nombre: {{schedulerForm.status | json}}</p>
