page-scheduler-editor {
  /*ion-content {
    form {
      div {
        ion-card {
          ion-card-content{
            ion-fab{
              button{

              }
            }
          }
        }
      }
    }
  }*/
}


.category{
  position: relative;
}

.deleteCategory{

  box-shadow: none !important;
  height: 35px;
  width: 35px;
  background-color: #FFFFFF;
  color: #d01e1e;
  font-size: 1.5em !important;
}

.categoryTitle{
  font-size: 1.5em !important;
}
