page-scheduler-editor {
  /*ion-content {
    form {
      div {
        ion-card {
          ion-card-content{
            ion-fab{
              button{

              }
            }
          }
        }
      }
    }
  }*/
}


.category{
  position: relative;
}

.deleteCategory{
  box-shadow: none !important;
  height: 35px;
  width: 35px;
  background-color: transparent !important;
  font-size: 1.5em !important;
}

.pictoButtonRow{
  height: 30px;
}

.favPicto{
  padding: 20px;
  box-shadow: none !important;
  background-color: transparent !important;
  color: #d01e1e;
  font-size: 1.5em !important;
}

.unfavPicto{
  padding: 20px;
  box-shadow: none !important;
  background-color: transparent !important;
  color: #999999;
  font-size: 1.5em !important;
}

.deletePicto{
  padding: 20px;
  box-shadow: none !important;
  background-color: transparent !important;
  color: #999999;
  font-size: 1.5em !important;
}

.categoryTitle{
  font-size: 1.5em !important;
}

.openFab{
  box-shadow: none !important;
  height: 35px;
  width: 35px;
  background-color: #FFFFFF;
  font-size: 1.5em !important;
}

.backdropFab{
  background-color: #FFFFFF;
  color: #000000
}

.labelRange{
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.buttonAddCategory{
  margin: 1.5em;
}
