<!--
  Generated template for the SchedulerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Crear nuevo Planificador</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-slides #schedulerSlider (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col col-6 offset-3>
            <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
            <ion-list>
              <form [formGroup]="slideOneForm">
                <ion-card padding>
                  <ion-card-header ><h2 padding-horizontal>Definición del Planificador</h2></ion-card-header>
                  <ion-item>
                    <ion-label floating>Nombre</ion-label>
                    <ion-input formControlName="name" type="text"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label floating>Descripción</ion-label>
                    <ion-textarea formControlName="description"></ion-textarea>
                  </ion-item>
                </ion-card>
                <ion-list formControlName="schedType" radio-group [(ngModel)]="type">
                  <ion-card padding>
                      <ion-card-header ><h2>Tipo de Planificador</h2></ion-card-header>
                    <ion-item>
                      <ion-label>Imagen y Texto</ion-label>
                      <ion-radio value="isNormal" checked></ion-radio>
                    </ion-item>
                    <ion-item>
                      <ion-label>Solo Texto</ion-label>
                      <ion-radio value="isText"></ion-radio>
                    </ion-item>
                  </ion-card>
                </ion-list>
              </form>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <!--Second Slide-->
    <ion-slide>

    <ion-grid>
      <ion-row>
        <ion-col col-sm-12 col-md-3 col-lg-2>
          <ion-card>
            <ion-card-content>
              <img src={{image}} style="width: 100% ; height: 100%" (click)="popUpSearch()"/>
              <ion-list no-lines>
                <form [formGroup]="slideTwoForm">
                  <ion-item [hidden]=true>

                    <ion-label floating>Image</ion-label>
                    <ion-input formControlName="image" type="text"></ion-input>

                  </ion-item>
                  <ion-item style="text-align:center">
                    <ion-input placeholder="Texto" text-center formControlName="text" type="text" ></ion-input>
                  </ion-item>
                </form>
              </ion-list>
          </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col col-sm-12 col-md-3 col-lg-2>
          <ion-card>
            <ion-card-content text-center>
              <img src={{image}} style="width: 100% ; height: 100%" ng-click="addField()"/>
              <button ion-button color="primary" (click)="addField()" ><ion-icon name="add"></ion-icon>AÑADIR PICTO</button>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
    </ion-slide>

  </ion-slides>

  <ion-fab [hidden]="hideBackFAB" bottom right margin-bottom margin-right>
    <button ion-fab color="secondary" (click)="save()" ><ion-icon name="checkmark"></ion-icon></button>
  </ion-fab>

  <ion-fab [hidden]="!hideBackFAB" bottom right margin-bottom margin-right>
    <button ion-fab color="primary" (click)="next()" ><ion-icon name="arrow-forward"></ion-icon></button>
  </ion-fab>

  <ion-fab [hidden]="hideBackFAB" bottom left margin-bottom margin-left>
    <button ion-fab color="primary" (click)="prev()" ><ion-icon name="arrow-back"></ion-icon></button>
  </ion-fab>
</ion-content>
