page-scheduler {

}

.PictoItem{
  text-align: center;

  padding: 15px;
}

.PictoText{
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 1.5em !important;
}

.col-half-offset{
    margin-left:4.166666667%
}
